<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/landing.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/Logo.png') }}">
    <title>ClinicBase</title>
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-sm bg-turquoise navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" style="color: #333;" href="/">ClinicBase</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" style="color: #333;" href="{{ url_for('main.home') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #333;" href="{{ url_for('main.about') }}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if current_page == 'contact' %}active{% endif %}" style="color: #333;" href="{{ url_for('main.contact') }}">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #333;" href="{{ url_for('auth.login') }}">Dashboards</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="container mt-3">
        <div class="row">
            <div class="col-md-12">
                <h3 class="mt-4">Contact ClinicBase</h3>
                <p class="text-justify">We'd love to hear from you! If you have any questions or would like to learn more about ClinicBase DBMS, please don't hesitate to get in touch with us.</p>
                <p class="text-justify">You can reach us through the following contact methods:</p>
                <ul>
                    <li>Email: <a href="mailto:tikolidavid@gmial.com">contact@clinicbase.com</a></li>
                    <li>Phone: +223-0262520270</li>
                </ul>
                <p class="text-justify">Our dedicated team is ready to assist you and provide information about how ClinicBase can benefit your clinic and improve your clinical operations.</p>
            </div>
        </div>
    </main>

    <footer class="mt-3 ml-3">
        <p style="padding-left: 20px;">Copyright &copy; <script>document.write(new Date().getFullYear())</script> ClinicBase</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>

